<form method="post" action="/publicacoes/nova">
    <input placeholder="Insira o titulo da publicação" type="text" name="titulo" /> <br />
    <input placeholder="Insira o conteúdo da publicação" type="text" name="conteudo" /> <br />
    <button>Salvar</button>
</form>
